@charset "UTF-8";

/***** LAYOUT *****/
/** Relative to each other **/
#nav, .backTitle{position:fixed; z-index:100;}
#nav{top:20px; left:20px; max-width:320px; z-index:200; padding:20px 0;}
.backTitle{top:40px; left:340px; padding-left:5px;}
#content{padding:20px;}
#nav ul{padding:0;}
#nav ul li{padding:0 15px;}
#nav ul li a{display:block; padding:.3em 10px;}
#content{margin-top:20px; margin-left:340px; max-width:650px;}
/* sub-nav */
#nav ul li ul{margin-top:0; padding-top:0; height:0; overflow:hidden;/* display:none;*/}
#nav ul li ul.selected{/*display:block;*/ height:auto;}

#nav ul li h1{margin-top:0; font-size:1.6em; font-weight:normal;}
#nav ul li.lastLi a, #nav ul li h1 a{display:inline-block;}
#nav ul li h1 a{padding-top:0;}

#nav ul li ul li:last-child{margin-bottom:15px;}

.backTitle li{margin:6px 0; padding-right:20px;}

#footer{padding-left:45px;}
