/****
* css modifications for small screens (width less than or equal to 720px)
****/
#nav{top:0; left:0;
	max-width:none; width:100%; 
	border-bottom:1px solid #000;
	height:45px;
	overflow:hidden;
	padding:0;
}
#nav ul{padding-top:8px;}
#nav ul li{padding:0;}
#nav ul li > a{font-size:larger; padding:.3em 10px;}
#nav ul li ul li{padding-left:15px;}
p.title{padding-left:20px;}
.backTitle{left:0; top:40px; padding:8px; padding-left:10px;}
.backTitle.zoomPage{top:0;}
#mobileMenu{visibility:visible;}
#content{margin-left:0; margin-top:54px; padding:0;}
#footer{padding-left:10px;}
#bigImgContainer{margin-top:37px;}

.divItem div.txt, .divItem div.html, .divItem p.description{padding-left:10px; padding-right:10px;}

#nav.collapsible{height:auto;}
