@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

/***** user defined styles *****/

/* site bg_color */
body, #nav, #nav ul li ul, .backTitle, div.txt, div.html, .modal, .textareaContainer{background-color: #FFFFFF;}

/* item_bg_color */
div.txt, div.html, .textareaContainer, .wysihtml5-editor{background-color:#FFFFFF;}

/* site_font */
body, td, th, select, input, button, textarea{
	font:13px "Open Sans", sans-serif;
	color:#383838;
	line-height:1.4; /* do not add pixels or ems! this is relative to font size */ 
}

/* font_size */
/*body, html{font-size:90%;}*/

/* header font */
h1, h2, h3{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

/* links color */
a{color:#000000;} 

/* within file linking to sub-section, text should look normal */
a.imgMore{color:#383838;}

/* borders */
.divItem img, .divItem div.txt, .divItem div.html,/* .textareaContainer,*/ .wysihtml5-editor img{border:none;}
.divItem div.txt, .divItem div.html{border-bottom:1px solid #ddd;}
#nav ul li:hover ul{display:block;}
.backTitle, .title{display:none;}
