
#textEditorForm textarea, iframe{border:none; width:100%; margin:0; padding:0;}
#textEditorForm textarea{font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace;}

#toolbar{position:relative;}
#toolbar a{display:inline-block; padding:0 4px; border:1px solid #ccc; background-color:#fff; color:#000; border-radius:3px;}
#toolbar a.wysihtml5-command-active{background-color:#000; color:#fff;}
#toolbar .dialogDiv{
    position:absolute; 
    bottom:-40px; left:-5px; 
    padding:10px; 
    background-color:#ffc; 
    border:1px solid #666; 
    border-radius:3px;
    box-shadow:-5px 5px 10px 5px rgba(0,0,0, .3);
}
.textareaContainer{
    clear:both; margin:10px 0; padding:10px;
    -webkit-box-shadow:inset 0px 0px 0px 1px #555;
    -moz-box-shadow:inset 0px 0px 0px 1px #555;
    box-shadow:inset 0px 0px 0px 1px #555;
}

#workflow{position:absolute; top:-11px; right:-11px;}
#workflow a{margin-left:-1px; border-radius:0;}

#content{padding:10px; max-width:670px;}
